<%= form_with(model: list, class: "form-main") do |form| %>

  <%= render 'shared/input', 
    form: form,
    id: 'title', 
    label: 'Título', 
    value: @list.title, 
    error: @list.errors[:title].first %>

  <%= render "shared/dropdown", 
    form: form, 
    id: 'color', 
    label: 'Cor', 
    options: [
      { value: 'branco', label: 'Branco'},
      { value: 'verde', label: 'Verde'},
      { value: 'amarelo', label: 'Amarelo'},
      { value: 'preto', label: 'Preto'},
    ], 
    value: @list.color || 'verde', 
    error: @list.errors[:color].first %>

  <div class="form-footer">
    <button type="submit" class="button"><%= button_text %></button>
  </div>
<% end %>