<%= form_with(model: list, class: "form-main") do |form| %>
  <%= render 'shared/input', 
      id: 'title', 
      label: 'Título', 
      value: @list.title, 
      error: @list.errors[:title].first %>

  <%= render 'shared/input', 
      id: 'color', 
      label: 'Cor', 
      value: @list.title, 
      error: @list.errors[:title].first %>

  <div class="form-footer">
    <button type="submit" class="button">Adicionar nova lista</button>
  </div>
<% end %>