<%= form_with(model: list, class: "form-main") do |form| %>

  <%= render 'shared/input', 
    form: form,
    id: 'title', 
    label: 'Título', 
    value: @list.title, 
    error: @list.errors[:title].first %>

  <%= render 'shared/input', 
      form: form,
      id: 'color', 
      label: 'Cor', 
      value: @list.color, 
      error: @list.errors[:color].first %>

  <div class="form-footer">
    <button type="submit" class="button"><%= button_text %></button>
  </div>
<% end %>