<% content_for :title, "Editing list" %>

<div class="form-container">
  <div class="form">
    <%= render "shared/form_header", title: "Editar lista" %>

    <%= render "form_list", list: @list, button_text: "Salvar alterações" %>
  </div>
</div>
