<% content_for :title, "New list" %>

<div class="form-container">
  <div class="form">
    <%= render "shared/form_header", title: "Nova lista" %>

    <%= render "form_list", list: @list, button_text: "Adicionar nova lista" %>
  </div>
</div>
