.home-container {
  display: flex;

  gap: 24px;
  height: 100vh;
  max-height: 380px;
  width: 100%;
}

.home-container .line {
  max-height: 380px;
  width: 4px;
  background-color: var(--gray-4);
}

.home-container .todos {
  padding-block: 12px;
  width: 100%;
  max-width: 300px;
}

.home-container .tasks {
  padding-block: 12px;
  width: 100%;
  max-width: 500px;
}

.home-container .unselected-list--img {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 14px;
  height: 100%;
  width: 100%;
}

.home-container .unselected-list--img span {
  font-size: 16px;
  font-weight: 400;
}

.no-content-list--container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.home-container .no-content-lists--img {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 14px;
  width: 100%;
  height: 100%;
}

.home-container .no-content-lists--img span {
  font-size: 16px;
  font-weight: 400;
}

.home-container .no-content-lists--img img {
  width: 120px;
}

.home-container .section .section-link {
  background: transparent;
  border: 2px solid var(--green-7);
  border-radius: 4px;
  color: var(--green-7);
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  padding: 4px 10px;
  transition: all ease-in .2s;
  text-decoration: none;
}

.home-container .section .section-link:hover {
  background: var(--green-7);
  color: var(--white);
}
.home-container .section .section-link:active {
  background: var(--green-8);
  border-color: var(--green-8);
  color: var(--white);
}