.home-container .section .lists {
  margin-top: 40px;
  list-style: none;
}

.home-container .section .lists .lists-item .list-button {
  width: 250px;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--black);
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;

  background: var(--green-4);
  border: 2px solid transparent;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
}

.home-container .section .lists .lists-item .list-button:hover {
  border: 2px solid var(--green-7);
}