.home-container .section .section-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home-container .section .section-header h2 {
  font-size: 24px;
  font-weight: 600;
}

.home-container .section .section-header .section-header_btn {
  background: transparent;
  border: 2px solid var(--green-7);
  border-radius: 4px;
  color: var(--green-7);
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  padding: 4px 10px;

  transition: all ease-in .2s;
}

.home-container .section .section-header .section-header_btn:hover {
  background: var(--green-7);
  color: var(--white);
}
.home-container .section .section-header .section-header_btn:active {
  background: var(--green-8);
  border-color: var(--green-8);
  color: var(--white);
}