<% content_for :title, "Editing task" %>

<div class="form-container">
  <div class="form">
    <%= render "shared/form_header", title: "Editar Tarefa" %>

    <%= render "form_task", task: @task, button_text: "Salvar alterações" %>
  </div>
</div>

