<% content_for :title, "New list" %>

<div class="form-container">
  <div class="form">
    <%= render "shared/form_header", title: "Nova Tarefa" %>

    <%= render "form_list", task: @task, button_text: "Adicionar nova tarefa" %>
  </div>
</div>

