<header class="form-header">
  <%= link_to root_path, class: "back-link" do %>
    <%= image_tag("arrow.svg", alt: "Voltar", class: "back-icon") %>
    <span>Voltar</span>
  <% end %>

  <h2 class="title">Nova lista</h2>
</header>

