<div class="modal-backdrop" id="confirmationModal">
  <div class="modal">
    <div class="answer">
      <strong>Tem certeza de que deseja excluir esta lista?</strong>
      <p>
        Esta ação não poderá ser desfeita! Todas as terefas dessa lista serão apagadas.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary">Cancelar</button>
      <button type="button" class="btn btn-danger">Excluir</button>
    </div>
  </div>
</div>

<div class="home-container">
  <%= render "lists_section" %>

  <div class="line"></div>

  <%= render "tasks_section" %>
</div>
