<div class="home-container">
  <section class="section todos">
    <header class="section-header">
      <h2>0 Listas</h2>

      <button class="section-header_btn">Nova lista</button>
    </header>
  </section>
  <div class="line"></div>
  <section class="section tasks">
    <header class="section-header">
      <h2>0 Tarefas</h2>

      <button class="section-header_btn">Nova tarefa</button>
    </header>
  </section>
</div>